<!DOCTYPE html>
<html>
<head>
    <title>sleep</title>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/index.js"></script>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
	<h1>sleep</h1>
	<p>Find out when you fell asleep</p>

	<div>
		Your Mac last went to sleep at: <span id="lastSlept"></span> because <span id="lastSleptReason">you closed the lid</span>.

		Then, your Mac woke up at: <span id="lastWoke"></span>, which means it slept for <span id="sleepDuration"></span>.
	</div>

	<div>
		Previous sleep sessions:
		<div id="sleepList">
			
		</div>
	</div>
</body>
</html>