<!DOCTYPE html>
<html>
<head>
    <title>sleep</title>
    <script src="../js/index.js"></script>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
	<h1>sleep</h1>
  <h4>do you remember when you fell asleep?</h4>

  <p>see source on <a onclick="gui.Shell.openExternal('https://github.com/capablemonkey/sleep');" href="#">github</a></p>
	<p>written by <a onclick="gui.Shell.openExternal('https://twitter.com/capable_monkey');" href="#">@capable_monkey</a></p>

  <div>
    <a id="close" href="#" onclick="hideWindow();">close</a>
  </div>
</body>
</html>